*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    padding:30px;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.todo-box{

    width:100%;
    max-width:500px;
    background:#fff;
    border-radius:20px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.todo-box h1{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    font-size:35px;
    color:#222;
    margin-bottom:30px;

}

.todo-box h1 i{

    color:#ff9800;

}

.input-box{

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:10px;
    margin-bottom:30px;

}

.input-box input{

    flex:1;
    padding:15px;
    border:none;
    outline:none;
    border-radius:30px;
    background:#ececec;
    font-size:17px;

}

.input-box button{

    padding:15px 30px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    background:#ff9800;
    color:#fff;
    font-size:16px;
    transition:.3s;

}

.input-box button:hover{

    background:#f57c00;

}

ul{

    list-style:none;

}

ul li{

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#f8f8f8;
    margin-bottom:15px;

    padding:18px;
    border-radius:15px;

}

.left{

    display:flex;
    align-items:center;
    gap:15px;

}

.left i{

    font-size:24px;
    cursor:pointer;
}

.checked{

    color:green;

}

.finish{

    text-decoration:line-through;
    color:gray;

}

.delete{

    font-size:24px;
    color:red;
    cursor:pointer;

}

span{

    font-size:18px;
}